body {
    background-color: #977c9c;
    display: flex;
    justify-content: center;
}

svg {
    background-color: antiquewhite;
    width: 40%;
    height: 700px;
    max-height: 60%;
    margin: 5px;
}

#inputArea {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
